<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen">
    <header class="bg-green-700 flex justify-between w-full px-2">
      <div>
        <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
        <h1><%= @page_title %></h1>
      </div>
      <% if session[:user_id] %>
      <div class="mt-8">
         <%= button_to 'Logout',
             logout_path,
             method: :delete,
             form_class: 'inline',
             class: "rounded-lg py-1 px-2 text-white bg-orange-600 ml-2" %>
      </div>
      <% else %>
      <div class="mt-8">
        <%= button_to 'Login', 
            login_path,
            form_class: 'inline',
            class: "rounded-lg py-1 px-2 text-white bg-red-600 ml-2" %>
      </div>
      <% end %>
    </header>

    <section class="flex h-full">
      <nav class="bg-green-900 p-6 h-full">
        <%= render partial: 'layouts/cart', locals: { cart: @cart } %>

        <ul class="text-gray-300 leading-8">
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>

        <% if session[:user_id] %>
          <hr class="my-2">

          <ul class="text-gray-300 leading-8">
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        <% end %>
      </nav>
      
      <main class="container mx-auto mt-4 px-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
